@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$Blue: hsl(248, 32%, 49%);
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$DarkBlue: hsl(249, 10%, 26%);  
$GrayishBlue: hsl(246, 25%, 77%);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  
}
